@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

.flipped {
  transform: rotateY(180deg);
}
.mirror {
  transform: scaleX(-1);
}
.mirror-flipped {
  transform: scaleX(-1) rotateY(180deg);
}
